/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
header{
  display: flex;
  justify-content:space-between;
  background: #666;
  margin: 0;
  margin-bottom: 1rem;
  padding:2rem;
  align-items:center;

}
nav ul{
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li{
  margin: 0;
  margin-left: 1rem;
  background: #fff;
  padding:.6rem 1rem;
}

body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}
#cougar{
  background: #b26219;




}
#lion{
  background:#c95012;


}
#tiger{
  background:#d38912;
}
article{
  display: flex;
justify-content: center;
margin: 0;
    color: #fff
}
.text {
  padding: 60px;
  font-size: 1.2rem;
  line-height: normal;
}
section{
  max-width: 600px
}
h1{
  color: #fff;
}

footer p{
  text-align: center;
  background:  #666;
  padding:20px;
  margin: 0;
}
.photo img {
  margin-top: 90px;
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
  B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #000;
}
a:hover {
    color: #82E8FF;
}
